@import "variables";
.b-header {
    background-color: $color-red;


.navbar {
        background-color: $color-red;
        padding: 0;
        min-height:40px;
}


 a {
    color: white;
    min-height: 40px;
}  
.oi {
    color: white;
}
}
.b-footer {
    background-color: $color-blue;
    color: white;

}
   

hr.style1{
    border-top: 3px solid $color-red;
    
}