@import "variables";
.b-header {
    background-color: $color-red;

.navbar {
        background-color: $color-red;
        padding: 0;
        min-height:40px;
}

 a {
    color: $color-white;
    min-height: 40px;
} 

a:hover {
    font-size:20px;
    color:$color-white;
}

.oi {
    color: $color-white;
}

}
.b-footer {
    background-color: $color-blue;
    color: $color-white;

}
.style1{
    border-top: 5px solid $color-red;
    
}
.card-height{

    height:450px;
}  