@import "variables";
.b-header {
    background-color: $color-red;
.navbar {
        background-color: $color-red;
        padding: 0;
        min-height:40px;
}
 a {
    color: white;
    min-height: 40px;
}  
.oi {
    color: white;
}
}
   