$color-red: #EF3E42;
$color-blue: #332982;
$color-gray: #777;
$color-white:#fff;
$mt:14%;
$panding:45px;

$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Open Sans Condensed', sans-serif;

$font-size-h1: 60px;
$font-family-h1: $font-family-primary;
$font-weight-h1: 300;

$font-size-h2: 20px;
$font-family-h2: $font-family-secondary;
$font-weight-h2: bold;